.header h1 a{
    color: rgb(197, 197, 197);
}
h1 a{
    margin-bottom: 20px;
    margin-top: 20px;
}
h1 a, p{
    margin-left: 10px;
}
a, p{
    color: rgb(68 , 68, 68);
}
.header{
    height: 50px;
    width: auto;
    background-color: #563d7c;
    color: white;
}
body{
    background-color:white;
    padding: 0%;
    margin: 0%;
}
.post{
    /* background-color: rgb(143, 255, 255); */
}
